

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

body{
  background-color: #F8F8F9;

}

#partial-body-border{
  position: relative
}
#partial-body-border:after{
    content: '';
    width: 33%;
    height: 2px;
    background: #3B372F;
    position: absolute;
    bottom: -1px;
    right: -1px;
}

.active{
  position: relative;

}
.active:after{
  content: ' ';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  border-radius: 50%;
  background-color: #3B372F;

}